.row {
    color: white;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 15px;
    padding: 0 25px;
    font-size: 10px;
}

.row h2{
margin-left: 3px;
}
.row__posters {
    padding: 10px 0;

    .row__poster {
        padding: 0 3px;
        height: 110px;
        transition: transform 450ms;
        width: 100%;
        object-fit: cover;
    }

    .row__poster:hover {

        transform: scale(1.2);



    }

    .row__posterLarge {
     
        max-height: 320px;
        height: 320px;
    }

    .row__posterLarge:hover {
        transform: scale(1.2);


    }
}





.row__posters::-webkit-scrollbar {
    display: none;
}