.profileScreen {
    height: 100vh;
    background-color: #111;
    color: white;

}

.profileScreen__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 800px;
    padding-top: 8%;
    margin: 0 auto;
}

.profileScreen__body>h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282C2D;
    margin-bottom: 20px;
}

.profileScreen__info {
    display: flex;
}

.profileScreen__plans {
    margin-top: 20px;
}

.profileScreen__plans>h3 {
    border-bottom: 1px solid #282828;
    padding-bottom: 10px;
}

.profileScreen__info>img {
    height: 100px;
}

.profileScreen__details {
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profileScreen__details>h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profileScreen__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
}

.profileScreen__avatar {
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 768px) {
    .profileScreen__body {
        flex-direction: column;
        width: 100%;
        padding-top: 15%;
    }

    .profileScreen__body>h1 {
        font-size: 40px;
        text-align: center;
    }

    .profileScreen__info {
        flex-direction: column;
        align-items: center;
    }

    .profileScreen__details {
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }

    .profileScreen__signOut {
        margin-top: 20%;
    }
}